
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tetris-bg {
position: relative;
}

#canvas-game {
  border: 2px solid white;
  position: absolute;
  top: 83px;
}